html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  padding: 0 10px;
}

.header {
  background: -webkit-linear-gradient(#eee, #333);
  background-size: cover;
  height: 270px;
  text-align: center;
}

main {
  margin: auto;
  width: 70%;
}

main h2 {
  text-align: center;
  background: -webkit-linear-gradient(rgb(240, 240, 240), rgb(111, 128, 0));
  color: rgb(32, 0, 121);
  text-shadow: 1px 1px #b2f6ffef;
  font-weight: 400;
}
main h3 {
  text-align: center;
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 1px #ff8f8fef;
}

main td {
  text-align: center;
}

main img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
main .btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

main table {
  display: flex;
  justify-content: center;
  align-items: center;
}

main p {
  text-align: center;
}

main figcaption {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.button {
  background: -webkit-linear-gradient(rgb(99, 99, 99), rgb(0, 42, 75));
  border: none;
  color: rgb(251, 255, 197);
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover,
.nav ul li:hover {
  background: #36e7ff;
  cursor: pointer;
  transition: background 0.5s;
}

table {
  border: none;
  border-collapse: collapse;
}
table th {
  border-left: 1px dotted rgb(59, 59, 59);
}
table td {
  border-left: 1px dotted rgb(59, 59, 59);
}
table td:first-child {
  border-left: none;
}
table tH:first-child {
  border-left: none;
}

.splitscreen {
  display: flex;
}
.splitscreen .left {
  flex: 2;
}
.splitscreen .right {
  flex: 1;
}

.grey {
  /* filter: grayscale(100%); */
  border-radius: 50%;
  border: solid black 1px;
}

.header .container {
  position: relative;
  top: 2px;
}

.header h1 {
  color: #fff;
  /* line-height: 100px; */
  /* padding: 10px; */
  margin-top: 0;
  margin-bottom: 0px;
  text-transform: uppercase;
  font-weight: 200;

  /* text-shadow: 2px 2px #ff0000; */
}

@media (min-width: 850px) {
  .header h1 {
    text-shadow: 2px 2px #000000ef;
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

h2 {
  margin-left: 20px;
}

.header p {
  color: rgba(255, 255, 255, 0.603);
  font-weight: 800;
  font-size: 800;
  text-shadow: 2px 2px #000000ef;
  letter-spacing: 6px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 0px;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  color: #fff;
  background: #000;
  padding: 10px 20px;
  text-decoration: none;
  transition: background 0.5s;
  width: 150px;
}

.btn:hover,
.nav ul li:hover {
  background: #ff4343;
  cursor: pointer;
  transition: background 0.5s;
}
