html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  padding: 0 10px;
}

.header {
  background: url('images/spotlight.jpg') no-repeat center center;
  background-size: cover;
  height: 600px;
  text-align: center;
}

.header .container {
  position: relative;
  top: 2px;
}

.header h1 {
  color: #fff;
  /* line-height: 100px; */
  /* padding: 10px; */
  margin-top: 0;
  margin-bottom: 0px;
  text-transform: uppercase;
}

@media (min-width: 850px) {
  .header h1 {
    color: #d3ffff;
    font-size: 80px;
  }
}

.header p {
  color: #fff;
  font-weight: 500;
  font-size: 800;
  letter-spacing: 8px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 0px;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  color: #fff;
  background: #000;
  padding: 10px 20px;
  text-decoration: none;
  transition: background 0.5s;
}

.btn:hover,
.nav ul li:hover {
  background: #d3ffff;
  cursor: pointer;
  transition: background 0.5s;
}
