html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.header {
  background: -webkit-linear-gradient(#eee, #333);
  background-size: cover;
  height: 280px;
  text-align: center;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  top: 2px;
}

.header h1 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0px;
  text-transform: uppercase;
  font-weight: 200;
}

@media (min-width: 850px) {
  .header h1 {
    text-shadow: 2px 2px #000000ef;
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.splitscreen {
  display: flex;
}
.splitscreen .left {
  flex: 2;
  z-index: 999999999;
}
.splitscreen .right {
  flex: 1;
}

/* introduction text */
.splitscreen .right p {
  padding: 8px;
  font-size: 20px;
  border-left-color: rgb(0, 64, 112);
  border-left-width: 4px;
  border-left-style: solid;
}

/* background below the header */
.mainback {
  background: -webkit-linear-gradient(rgb(238, 236, 233), rgb(238, 233, 233));
}

/* all content below the menu / introduction */
.content {
  text-align: center;
  margin: auto;
  width: 70%;
}

/* content headers (e.g. 'Projects') */
.content h2 {
  background: -webkit-linear-gradient(rgb(238, 236, 233), rgb(180, 155, 114));
  color: rgb(44, 44, 44);
  margin-top: 20;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 300;
  text-shadow: 2px 2px #e4e4e4ef;
  font-size: 20px;
}
/* sub-headers (e.g. project titles) */
.content h3 {
  margin-top: 10;
  margin-bottom: 10px;
  font-weight: 300;
  color: rgb(44, 44, 44);
  text-shadow: 2px 2px rgb(251, 255, 197);
  font-size: 20px;
}

/* project images */
.all-projects img {
  width: 320px;
  height: 240px;
  border-style: outset;
  border-width: 5px;
  border-color: rgb(0, 42, 75);
}

/* buttons below the project images */
.project-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-radial-gradient(rgb(238, 236, 233), rgb(0, 42, 75));
  border: none;
  color: rgb(238, 236, 233);
  text-shadow: 1px 1px 4px rgb(0, 0, 0);
  padding: 5px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 450;
  margin: 4px 2px;
  cursor: pointer;
}

.menu-button {
  display: inline-block;
  color: rgb(238, 236, 233);
  text-shadow: 1px 1px 4px rgb(0, 0, 0);
  background: -webkit-radial-gradient(rgb(92, 92, 92), rgb(0, 0, 0));
  padding: 10px 10px;
  text-decoration: none;
  transition: background 0.5s;
  width: 150px;
  font-size: 16px;
  font-weight: 300;
}

.project-button:hover,
.menu-button:hover {
  background: -webkit-radial-gradient(rgb(0, 42, 75), rgb(238, 236, 233));
  cursor: pointer;
  transition: background 0.5s;
  color: rgb(238, 236, 233);
  text-shadow: 1px 1px 4px rgb(0, 0, 0);
}

#experience table {
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-projects figcaption {
  margin-top: 20px;
  margin-bottom: 40px;
}

table {
  border: none;
  border-collapse: collapse;
}
table th {
  border-left: 1px dotted rgb(59, 59, 59);
  padding: 5px;
  color: rgb(0, 42, 75);
}
table td {
  border-left: 1px dotted rgb(59, 59, 59);
  padding: 3px;
}
table td:first-child {
  border-left: none;
}
table th:first-child {
  border-left: none;
}

/* table tr {
  padding-left: 2px;
  padding-right: 2px;
} */

.headshot {
  border-radius: 50%;
  border: solid rgb(238, 236, 233) 1px;
}

.header p {
  color: rgba(255, 255, 255, 0.603);
  font-weight: 800;
  font-size: 800;
  text-shadow: 2px 2px #000000ef;
  letter-spacing: 6px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 0px;
  text-transform: uppercase;
}
